<h1>New Property</h1>

<%= form_for @property do |f| %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :address %><br>
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :price %><br>
  <%= f.number_field :price %>
</div>
<br />

<div class="submit">
  <%= f.submit %>
</div>

<% end %>